<a href="https://colab.research.google.com/github/jso4342/pythonTest/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 반복문 while for 

# While 

# while 조건식 :
#  수행문 

# while True:     # 무한반복
#   print("Hello World")

num = 0

while num < 10:
  print(num, "BeloveD")
  num += 1

BeloveD
BeloveD
BeloveD
BeloveD
BeloveD
BeloveD
BeloveD
BeloveD
BeloveD
BeloveD

In [5]:
coffee = 10
money = 300

while True:
  print("커피를 드립니다")
  coffee = coffee - 1
  print(f"남은 커피는 {coffee}개 입니다.")
  if coffee == 0:
    print("커피가 더이상 없습니다")
    break     # break 를 만나는 순간 반복문을 빠져 나간다

커피를 드립니다
남은 커피는 9개 입니다.
커피를 드립니다
남은 커피는 8개 입니다.
커피를 드립니다
남은 커피는 7개 입니다.
커피를 드립니다
남은 커피는 6개 입니다.
커피를 드립니다
남은 커피는 5개 입니다.
커피를 드립니다
남은 커피는 4개 입니다.
커피를 드립니다
남은 커피는 3개 입니다.
커피를 드립니다
남은 커피는 2개 입니다.
커피를 드립니다
남은 커피는 1개 입니다.
커피를 드립니다
남은 커피는 0개 입니다.
커피가 더이상 없습니다

In [8]:
coffee = 10
money = 300

while True:
  print("커피를 드립니다")
  coffee = coffee - 1
  money = money - 50
  print(f"남은 커피는 {coffee}개 입니다.")
  print(f"남은 현금은 {money}원 입니다.")
  if coffee == 0:
    print("커피가 더이상 없습니다")
    break     # break 를 만나는 순간 반복문을 빠져 나간다 
  if money == 0:
    print("현금이 더이상 없습니다")
    break     # break 를 만나는 순간 반복문을 빠져 나간다

커피를 드립니다
남은 커피는 9개 입니다.
남은 현금은 250원 입니다.
커피를 드립니다
남은 커피는 8개 입니다.
남은 현금은 200원 입니다.
커피를 드립니다
남은 커피는 7개 입니다.
남은 현금은 150원 입니다.
커피를 드립니다
남은 커피는 6개 입니다.
남은 현금은 100원 입니다.
커피를 드립니다
남은 커피는 5개 입니다.
남은 현금은 50원 입니다.
커피를 드립니다
남은 커피는 4개 입니다.
남은 현금은 0원 입니다.
현금이 더이상 없습니다

In [12]:
num = 1
while True:
  print(num)
  num = num + 2
  if (num > 10):
    break;


num = 1
while (num < 10):
  print(num)
  num = num + 2

1
3
5
7
9

# for 문 
주로 반복 횟수가 정확할 때 사용한다

In [19]:
li = ['1', '2', '3']

for i in li:
  print(i)

print("----------")
a = [(1,2), (3,4), (5,6)]

for item1, item2 in a:
  print(item1 + item2)

1
2
3
----------
3
7
11

In [23]:
eng = [90, 60, 90, 70, 80]
id = 0
for score in eng : 
  id += 1
  if score < 80: continue
  print(f"{id} 번 학생은 합격입니다.")

1 번 학생은 합격입니다.
3 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [27]:
sum = 0
for i in range (11) : # 시작이 0 일 경우 생략 
  sum += i
print(sum)

55

In [41]:
for i in range (2,10) : 
  for j in range (1, 10) : 
    print(f'{i} * {j} = {i * j}' , end = "\t")
  print()

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [58]:
sum = 0
n = 0
while n < 1000:  
  if n % 3 == 0: sum = sum + n
  n += 1
print(sum)

166833

In [69]:
n = 0
s = "*"
while (n < 6): 
  print(s * n)
  n = n + 1

*
**
***
****
*****

In [73]:
from typing_extensions import IntVar
# 리스트 내포 (list comprehension)

a = [1,2,3,4]
result = []

for num in a:
  result.append(num * 3)
print(result)

result2 = [num * 3      for num in a]
print(result2)

# 조건식까지 추가 가능
result3 = [num * 3      for num in a    if num % 2 == 0]
print(result3)

[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]

In [87]:
num = [1,2,3,4,5]
a = [1,2,3,4,5]
result = [num * 3   for num in a   if num % 2 ==1]
print(result)

[3, 9, 15]

In [88]:
n = 5
while (n > 0): 
  print("*" * n)
  n = n - 1

*****
****
***
**
*

In [93]:
for i in range (5):
  print("*" * (5-i))
  i += 1

*****
****
***
**
*

In [96]:
num = int(input("줄의 갯수를 입력하세요: "))
n = 1
for i in range (num):
  print("*" * (n))
  n += 1

줄의 갯수를 입력하세요: 6
*
**
***
****
*****
******

In [97]:
num = int(input("줄의 갯수를 입력하세요: "))
for i in range (num):
  print("*" * (num-i))
  i += 1

줄의 갯수를 입력하세요: 6
******
*****
****
***
**
*

In [106]:
n = int(input('줄의 갯수를 입력하세요:  : '))

for i in range(1, n + 1):
    print(" " * (n-i), "*" * (2 * i - 1))

줄의 갯수를 입력하세요:  : 1
 *

# 함수

바나나 -> 믹서기 -> 바나나주스

사과 -> 믹서기 -> 사과주스

------------------------

def 함수이름(매개변수):
  
  수행문장
  
  수행문장

In [112]:
# 1.입력도 있고 리턴 값도 있는 함수 
def add(a,b):
  return a+b

print(add(3,4))

# 2. 입력이 없고 리턴도 없는 함수 
def a():
  print("입력이 없고 리턴도 없는 함수")

# 3. 입력이 있고 리턴이 없는 함수
def b(name):
  print(name, '님을 환영합니다.')
  
# 4. 입력이 없고 리턴은 있는 함수
def c():
  return "Hi"

c()

7

'Hi'

In [113]:
def add2(a,b,c):
  return a+b+c

def add3(a,b,c,d):
  return a+b+c+d

def add_many(*args):  # 입력된 값들을 전부 모아서 튜플로 만들어준다. 
  sum = 0
  for i in args: 
    sum += i
  return sum

print(add_many(2,3,5,6,1,34,3))

54

In [114]:
a = 1

def vartest(a):
  a += 1
  return a

print(vartest(a))
print(a)

2
1

In [124]:
# 클래스 정의
class Calculator:
  def __init__(self): # 더블 언더스코어 -> '던더' 이닛 
    self.result = 0   # 생성자 Constructor 객체를 생성할 때 자동 호출되어 실행된다

  def add(self, num): # 함수를 클래스 안에서 구현하면 메소드, 그 메소드를 객체가 호출하여 사용한다.
    self.result += num
    return self.result          # 메소드의 매개변수 첫번째는 self 를 사용하여 그 자리에는 객체 명이 오게 된다
  

# 객체 생성
cal1 = Calculator()   # 객체를 생성할 때 생성자가 호출되어 call.result = 0 로 초기화한다
cal2 = Calculator()
cal3 = Calculator()

# 메소드 호출
print(cal1.add(1))
print(cal2.add(8))
print(cal3.add(2))

1
8
2

In [125]:
print(cal1.add(1))
print(cal1.add(1))
print(cal1.add(1))

2
3
4

# 객체와 인스턴스의 차이 

클래스로 만든 객체를 인스턴스라고도 한다. 그러면 객체와 인스턴스의 차이는 무엇일까?

a = Cal() 이렇게 만든 a 는 객체이다.

a는 Cal() 클래스로 만든 인스턴스이다.

즉, 인스턴스라는 표현은 객체가 어떤 클래스로 만든 것인지 관계 위주로 설명할 때 사용한다

다시 한 번 표현하면, 'a 는 인스턴스다' 보다는 'a는 객체다'라는 표현이 더 어울리며,

'a 는 Cal 클래스의 객체다' 라는 표현보다는 'a 는 Cal 클래스의 인스턴스다' 라는 표현이 더 적절하다.

In [129]:
# 사칙연산 계산 클래스 -> 계산기 객체를 생성 -> 사칙 연산은 메소드로 구현한다

class FourCal:
  def setdata(self, first, second): # 객체별 변수 선언 메소드
    self.first = first
    self.second = second 
  def add(self):
    result=self.first + self.second
    return result
  def mul(self):
    result= self.first * self.second
    return result
  def sub(self):
    result= self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = FourCal()
b = FourCal()

a.setdata(4,2)
b.setdata(3,5)

print(a.second)
print(b.first)

b.add()

# 객체마다 다른 고유의 변수값을 각각 따로 유지하게 된다.

2
3

8

In [131]:
class FourCal:
  def __init__(self,first,second): # 생성자 : 객체 생성시 자동 실행 
    self.first = first
    self.second = second 

  def add(self):
    result=self.first + self.second
    return result
  def mul(self):
    result= self.first * self.second
    return result
  def sub(self):
    result= self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = FourCal(4,2)
b = FourCal(3,6)

b.add()

9

# 상속 inheritance 

자바에서는 다중상속을 지원하지 않는다.

파이썬은 다중상속을 지원함

In [133]:
# 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나 기존 기능을 변경할 때 사용한다.

class MoreFourCal(FourCal):
  pass

c = MoreFourCal(4,2)
c.add()

6

In [134]:
a = FourCal(4, 0)
a.div()

ZeroDivisionError: ignored

In [135]:
class SafeFourCal(FourCal):
  def div(self): # 상속받은 FourCal 에 동일한 이름의 메소드를 자식 클래스가 오버라이드
    if self.second == 0:
      return 0
    else:
      return self.first/self.second

In [136]:
a = SafeFourCal(4, 0)
a.div() # FourCal 클래스를 상속한 SafeFourCal 클래스의 div 가 호출되어 자식의 메소드가 호출

0

In [141]:
class Family:
  lastname = "김"   # 클래스 변수


# 객체 변수는 다른 객체들에 영향을 받지 않고 독립적으로 그 값을 유지한다 (객체지향의 핵심)
a = Family()        # 객체를 생성
a.lastname          # 객체를 통해서 변수 접근 ( 메서드 접근 )
print(a.lastname)

# 클래스 변수는 객체를 생성하지 않고도 클래스명.변수명 으로 접근 가능 
Family.lastname     
print(Family.lastname)

김
김

In [142]:
Family.lastname = '최'
print(Family.lastname)
print(a.lastname)

최
최