<a href="https://colab.research.google.com/github/jso4342/pythonTest/blob/main/python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input 입력

input()

fsdfdsdfs

'fsdfdsdfs'

In [2]:
input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요장서영

'장서영'

In [3]:
id = input("아이디를 입력하세요")

아이디를 입력하세요jso4342

In [4]:
print(f'{id} 님 환영합니다.')

jso4342 님 환영합니다.

In [6]:
age = input("당신의 나이를 입력하세요")
print(f'당신의 나이는 {age + 1}입니다') 
# 하지만 input 은 받은 모든 데이터를 String 으로 받는다 > "20" + 1 : 오류남

당신의 나이를 입력하세요20

TypeError: ignored

In [7]:
age = int(input("당신의 나이를 입력하세요")) # casting 
print(type(age)) 
print(f'당신의 나이는 {age + 1}입니다')

당신의 나이를 입력하세요20
<class 'int'>
당신의 나이는 21입니다


# 리스트 list
 1. 리스트는 [] 를 사용하여 만든다. 
 2. 리스트는 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
 3. 리스트는 인덱싱과 슬라이싱이 가능하다. 
 4. 리스트에서는 삽입/삭제/수정이 가능하다. 

리스트를 사용하면 2,4,6,8,10... 여러 데이터의 모음을 간단하게 표현할수 있다.

In [8]:
# 컬렉션 List tuple dict set

# 여러개의 데이터를 담아두는 자료형

# 리스트 list

# 리스트를 사용하면 2,4,6,8,10,... 여러 데이터의 모음을 간단하게 표현할 수 있다 

num = [2,4,6,8,10]  # 대괄호 
print(num)

li1 = [1,2, '영희', '철수'] # 자료형을 혼합하여 사용할 수도 있다 (장점이자 단점)
print(li1)

[2, 4, 6, 8, 10]
[1, 2, '영희', '철수']

In [10]:
# 리스트에서의 인덱싱과 슬라이싱
# 리스트는 인덱싱과 슬라이싱이 가능하다 

num = [2,4,6,8,10]
print(num[-1]) # 뒤에서 첫번째 것 :: print 의 문법이 그대로 사용된다

10

In [13]:
print(num[0])
print(num[-1])
print(num[0] + num[-1])

12
2
10

In [12]:
li1 = [1,2, 'a', 'b', [1,2,3]]
print(li1[-1][0])

1

In [ ]:
# 리스트에서의 슬라이싱
num = [2,4,6,8,10]
print(num[0:3]) # [start : stop (:step)] 스텝은 생략하면 1씩 증가. stop 미만 
print(num[:3])  # 시작을 생략하면 처음부터 이고 끝을 생략하면 마지막까지

In [14]:
a = [1,2,3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트의 길이 (개수)
num = [2,4,6,8,10]
print(len(num))

In [15]:
# 리스트에서는 삽입/삭제/수정이 가능하다

# 수정
num = [2,4,6,8,10]
num[0] = 0
print(num)

[0, 4, 6, 8, 10]

In [20]:
# 삭제
num = [2,4,6,8,10]

del num[0]
print(num)

del num[2:]  # 슬라이싱 기법을 사용하여 여러 요소 한번에 삭제
print(num)

num.pop()    # 마지막 항목을 하나씩 제거 
print(num) 

num = [2,4,6,8,10]
num.pop(0)    # 괄호 안을 생략하면 마지막 요소를 날리지만 지정하면 그 요소를 삭제 
print(num)

[4, 6, 8, 10]
[4, 6]
[4]

In [18]:
# 리스트 삽입 append

a = [1,2,3]
print(a)

a.append(4)
print(a)

[1, 2, 3]
[1, 2, 3, 4]


# 튜플 tuple
###    1. 튜플은 () 를 사용하여 만든다. 
 2. 튜플은 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
 3. 튜플은 인덱싱과 슬라이싱이 가능하다. 
### 4. 튜플은 삽입/삭제/수정이 불가능하다. (immutable)
### 5. 튜플은 한개의 요소를 만들 때에는 괜히 ,를 넣는다.

In [22]:
t1 = (1,2,3)
print(type(t1))
t2 = (1,2,'a','b')
print(t2)

<class 'tuple'>
(1, 2, 'a', 'b')

In [25]:
# 튜플에서의 인덱싱
t2 = (1,2,'a','b')

print(t2[-1])

# 튜플에서의 슬라이싱
print(t2[:2]) # 마지막은 미만 처리

b
(1, 2)

In [26]:
# 튜플에서는 삽입/삭제/수정이 불가능하다 immutable
t2.append('c')

AttributeError: ignored

In [27]:
t2[0] = 0

TypeError: ignored

In [31]:
# 한개의 요소를 만들 때 쉼표를 넣는 것 
list1 = [1]
print(list1)
print(len(list1)) # 리스트는 한 개도 괜찮음 

tu = (1)
print(tu)
print(type(tu))

tu1 = (1,)
print(tu1)
print(type(tu1))

[1]
1
1
<class 'int'>
(1,)
<class 'tuple'>

In [33]:
bts = ['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가']
print(bts)

['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가']

In [35]:
bts.append('길동')
print(bts)
bts.pop()

['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가', '길동', '길동']

In [63]:
nums = [1,2,3,4,5]
print(f"nums 리스트에서 최댓값은 {max(nums)} 최소값은 {min(nums)} 입니다")

nums 리스트에서 최댓값은 5 최소값은 1 입니다

In [42]:
nums = [1,2,3,4,5]
avg = sum(nums) / len(nums)
print(f"nums 리스트에서 평균은 {avg} 입니다")

nums 리스트에서 평균은 3.0 입니다

In [46]:
price = ['2022', 100, 300, 200]
print(price[1:])

[100, 300, 200]

In [49]:
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2]) # 짝수만 출력 

nums = [1,2,3,4,5,6,8,10]
print(nums[::-1]) # 거꾸로 출력

[2, 4, 6]

In [60]:
s = "삼성 엘지 sk"
 
list1 = s.split(" ")
print(list1)

['삼성', '엘지', 'sk']

# 딕셔너리 Dict
1. 딕셔너리는 {}를 사용하여 만든다.
2. 딕셔너리는 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
3. 딕셔너리는 인덱싱과 슬라이싱이 불가능하다.
4. 딕셔너리에서는 삽입/삭제/수정이 가능하다. (mutable)
### 5. 딕셔너리에서는 키값과 밸류값의 쌍으로 구성된다 (자바의 map, js 의 JSON)

In [64]:
a = {1:'hello'}
print(type(a))

<class 'dict'>

In [78]:
b = {'name':'Alice', 'age':21, 'gender': 'F'}
print(b)
# 딕셔너리는 순서가 없기 때문에 indexing 과 slicing 이 불가능하다. 
# 딕셔너리는 순서가 없기 때문에 입력 순서와 출력 순서가 다를 수 있다. 

print(b['name'])

del b['age']      # 키갑으로 삭제
print(b)

b['age2'] = 27    # 키 값과 같이 삽입
print(b)

b['age2'] = 25    # 키 값으로 수정 
print(b)

{'name': 'Alice', 'age': 21, 'gender': 'F'}
Alice
{'name': 'Alice', 'gender': 'F'}
{'name': 'Alice', 'gender': 'F', 'age2': 27}
{'name': 'Alice', 'gender': 'F', 'age2': 25}

In [80]:
# 딕셔너리에 많이 사용되는 함수들

# keys()
b = {'name':'Alice', 'age':21, 'gender': 'F'}
print(b.keys())
print(b.values())

dict_keys(['name', 'age', 'gender'])
dict_values(['Alice', 21, 'F'])

In [82]:
c = b.items() # 키와 밸류를 쌍으로 반환
print(c)

dict_items([('name', 'Alice'), ('age', 21), ('gender', 'F')])

# 셋 Set
1. 셋은 {}를 사용하여 만든다. -> 딕셔너리와 다르게 한 개씩 들어가있음 
2. 셋은 자료형을 혼합하여 저장할수 도 있다. (파이썬 장점이자 단점)
3. 셋은 인덱싱과 슬라이싱이 불가능하다.
4. 셋은 삽입/삭제/수정이 가능하다. (mutable)
### 5. 셋은 중복값을 허용하지 않는다.

In [86]:
s1 = {1,2,3}
type(s1)

s2 = {1,1,2,2,3,3,3,3}
print(s2)

s3 = set('hello')
print(s3)

{1, 2, 3}
{'l', 'h', 'o', 'e'}

In [100]:
s2 = {1,1,2,2,3,'1','하나',3}
l2 = list(s2)
print(l2)

[1, 2, 3, '1', '하나']

In [102]:
s2.remove(1)
s2

{'1', 3, '하나'}

# if 문 
money = 2000
cart = True

In [110]:
money = 2000
cart = True

if (money<4000): print('버스타라')
else: print('택시타라')

버스타라

In [104]:
1.in[1,2,3]
4.in[1,2,3]

False

In [108]:
pocket=['paper', 'phone', 'money']
card=True

if 'momey' in pocket:
  print('택시 타라 ')
else:
  if card:
    print('택시 타라')
  else:
    print('걸어가라')

    # 분기가 여러개일 경우 if 문 안에 if 문을 중첩하여 사용할 수는 있지만 권장하지 않는다.
    # 따라서 분기가 여러개일 경우  elif 를 사용한다 (else if)

택시 타라

In [112]:
score = 100
print("합격")   if score >= 60    else print("불힙격")
# 조건부 표현식 : 한줄로 표현
# 참              조건                거짓

합격

In [117]:
if int(input("숫자를 입력해주세요")) %2 == 0: print("짝수")
else: print("홀수")

숫자를 입력해주세요3
홀수

In [127]:
num = int(input("숫자를 입력해주세요"))
if num + 20 > 255 : print(255)
else : print(num + 20)

숫자를 입력해주세요236
255

In [133]:
num = int(input("숫자를 입력해주세요")) - 20
if num < 0 : print(0)
elif num > 255 : print(255)
else : print(num)

숫자를 입력해주세요2
0

In [137]:
now = (input("시간을 입력해주세요")).split(":")[1]
if now == "00" : print("정각입니다")
else : print("정각이 아닙니다")

시간을 입력해주세요20:01
정각이 아닙니다

In [161]:
now = (input("시간을 입력해주세요"))
if now[3:]== "00" : print("정각입니다")
else : print("정각이 아닙니다")

시간을 입력해주세요34:00
정각입니다

In [166]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second number : "))
if (num1 > num2): print(f"{num2} {num1}")
else : print(num1, num2)

Enter First number : 7
Enter Second number : 3
3 7

In [170]:
num = int(input("Enter a number is under 20 : "))
if (num >= 20): print("Too high")
else : print("Thank you")

Enter a number is under 20 : 2
Thank you

In [180]:
color = input("What is your favourite color?")
if (color == "red" or color == "RED" or color == "Red") : print("I like red too")
else: print(f"I don't like {color}. I prefer red")

What is your favourite color?pink
I don't like pink. I prefer red

In [181]:
color = input("What is your favourite color?")
red =['red', "Red", 'RED']
if color in red:
  print("I like red too")
else : print(f"I don't like {color}. I prefer red")

What is your favourite color?red
I like red too

In [186]:
age = int(input("How old are you??? : "))
if age >= 18 : print("You can vote")
elif age == 17:  print("You can learn to drive")
elif age == 16 : print("You can buy a lottery ticket")
else : print("You can go Trick-or-Treating")

How old are you??? : 16
You can buy a lottery ticket

In [193]:
num = int(input("Enter 1, 2, or 3 : "))
if num == 1 : print("Thank you")
elif num == 2 : print("Well done")
elif num == 3 : print("Correct")
else : print("Error message")

Enter 1, 2, or 3 : 10
Error message

In [195]:
name = input("Enter your first name in English : ")
print(len(name))

Enter your first name in English : seoyoung
8

In [198]:
word = input("Enter any word : ").upper()
print(word)

Enter any word : seoyoung
SEOYOUNG

In [202]:
del input

In [213]:
word = input("Enter any words : ").lower()

# boy -> oybay | ay -> yaway

vowel =['a', "i", 'o' 'u' 'e']
if word[0] in vowel : print(word[1:] + word[0:1] + "way")
else : print(word[1:] + word[0:1] + "ay")

Enter any words : ay
yaway